* {
  Margin: 0em;
  font-family: 'Inter', sans-serif;
}

html {
  height: 100vh;
  width: 100vw;
  background-color: #EFEFEF;
}

body {
  height: 100vh;
  width: 100vw;
}

.hidden {
  display: none!important
}

/* NAVIGATION */

/* TEST */

.navigation-bar {
  background-color: #373F47;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 10em;
  left: 0;
  box-shadow: 0 -1px 3px 2px grey;
}

.menu {
  display: none;
}

.nav-icons {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin-top: 2em;
  padding: 0em;
  width: 30em;
}

.nomination-count {
  font-size: 2em;
  color: #1ABC9C;
  width: auto;
  margin-left: 2em;
}

.search-input {
    border: 1px solid #1ABC9C;
    border-radius: 10px;
    font-size: 100%;
    height: 7vh;
    padding-left: 10px;
    width: 90%;
}

.option-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 1em;
}

.option-wrapper {
  cursor: pointer;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 13em;
  height: 13em;
}

.menu-options {
  font-size: 2em;
  margin-top: .125em;
}

.dropdown-menu,
.icons {
  height: 2em;
  width: 2em;
  margin: .25em;
  text-align: center;
}

.search {
  margin-top: 1.25em;
  height: 4em;
  width: 4em;
}

.username {
  font-size: 1em
}

.user {
  margin-right: 1.5em;
  align-items: center;
  margin-bottom: 0em;
  margin-top: .25em;
}

.drop,
.profile {
  height: 1em;
  width: 1em;
}

.dropdown-menu {
  display: inline-block;
  width: auto;
  align-items: baseline;
  z-index: 2;
}

.drop:hover .dropdown-content {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  background-color: lightgrey;
  cursor: pointer;
  height: auto;
  width: auto;
  color: #708aa9;
  border-bottom-right-radius: .25em;
  border-bottom-left-radius: .25em;
}

.dropdown-item {
  font-size: 1.25em;
  padding: .35em;
  border: none;
}

.dropdown-item:hover {
  box-shadow: inset 0px 0px 4px
}

.logo {
  height: 9em;
  width: 9em;
  margin-left: 3em;
  margin-bottom: 4em;
}

/* CARD DISPLAY */

.intro-title {
  font-size: 2.5em;
  margin-left: .5em;
  margin-top: 4.5em;
  margin-bottom: .75em;
  color: #373F47;
}

.card-display {
  display: grid;
  grid-template-columns: repeat(4, 18.5em);
  grid-template-rows: repeat(3, 28em);
  grid-auto-flow: dense;
  grid-gap: 1.5em;
  margin: 1em;
}

.card-grid {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0 -1px 3px 2px #DFE1E0;
  border-radius: .1em;
  justify-content: space-around;
}

.image {
  width: 18.5em;
  height: 15em;
}


.movie-title,
.year-title {
  font-size: 1em;
  text-align: center;
  width: auto;
  padding: 5px;
}

.year-title {
  font-size: .75em;
}

.nominate-button {
  font-size: 1rem;
  background-color: #1ABC9C;
  border-radius: .25em;
  text-align: center;
  width: 10em;
  align-self: center;
  align-items: center;
  padding: 10px;
}

.nominate {
  height: 1.5em;
  width: 1.5em;
}

.nominate-button:hover {
  cursor: pointer;
}

.nominate-button:disabled {
  background-color: lightgrey;
  cursor: not-allowed;
}

/* BANNER DISPLAY */

.banner-display {
  margin-top: 5em;
  width: 100vw;
  height: 50vh;
  background-color: #1ABC9C;
  display: grid;
  grid-template-columns: repeat(5, 15em);
  grid-row: auto;
  grid-gap: 1em;
  padding: 1em;
}

.nominated-card {
  display: flex;
  width: auto;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0 -1px 3px 2px #DFE1E0;
  border-radius: .1em;
  justify-content: space-around;
}

.nom-image {
  width: auto;
  height: auto;
}

.nom-title,
.nom-year {
  font-size: 2em;
  text-align: center;
  width: auto;
  padding: 5px;
}

.nom-year {
  font-size: 1em;
}

.nom-foot {
  background-color: #373F47;
  color: #FFFFFF;
  font-size: 2em;
  width: 9em;
  height: auto;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1400px) {
  .card-display {
    grid-template-columns: repeat(5, 18.5em);
    grid-template-rows: repeat(3, 28em);
  }
}

@media screen and (max-width: 1280px) {
  .card-display {
    grid-template-columns: repeat(4, 18.5em);
    grid-template-rows: repeat(3, 28em);
  }
}

@media screen and (max-width:1100px) {
  .card-display {
    grid-template-columns: repeat(3, 18.5em);
    grid-template-rows: repeat(4, 28em);
  }
}

@media screen and (max-width:900px) {
  .card-display {
    grid-template-columns: repeat(2, 18.5em);
    grid-template-rows: repeat(6, 28em);
  }
}


@media screen and (max-width:600px) {

  .navigation-bar {
    width: 100vw;
    height: 5em;
  }

  .bag,
  .score-card,
  .logo,
  .menu-wrapper {
    display: none;
  }

  .nav-icons {
    margin-top: .5em;
  }

  .menu {
    display: initial;
    margin-top: .75em;
  }

  .intro-title {
    margin-top: 2.75em;
  }

  .card-display {
    grid-template-columns: repeat(1, 18.5em);
    grid-template-rows: repeat(10, 28.5em);
  }
}
